* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Roboto', sans-serif;
}

span {
  color: #FF5400;
}

/* Navber Design */
.navber {
  margin: 0% 9%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navber .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.navber .logo .logo-title {
    font-size: 2em;
  }

.navber .responsive-icon {
  display: none;
}

.navber .nav-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.navber .nav-items .nav-list .nav-link {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  margin-left: 30px;
  position: relative;
  font-weight: 400;
}

/* Home Section Design */
.home {
  height: 80vh;
  margin-top: 2%;
  background-image: url('/Images/Group 13.png');
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .h-body {
  text-align: center;
}

.home .h-body .h-title {
  font-size: 64px;
  color: #fff;
}

.home .h-body .h-par {
  font-size: 16px;
  color: #fff;
  margin-top: 24px;
}

.home .h-body .h-add {
  padding: 2% 2%;
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff42;
  border-radius: 8px;
  gap: 16px;
}

.home .h-body .h-add .h-place{
  width: 174px;
  height: 52px;
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
}

.home .h-body .h-add .h-place01 {
  width: 174px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #FF5400;
  border-radius: 8px;
  gap: 8px;
}

/* Title Paragraph Button Design */
section {
  margin: 7% 9%;
}

.title {
  font-size: 40px;
}

.par {
  font-size: 16px;
  margin-top: 20px;
  color: #5A5A5D;
}

.button{
  width: 174px;
  height: 52px;
  margin-top: 24px;
  font-size: 18px;
  text-align: center;
  border: 0;
  color: #fff;
  background-color: #FF5400;
  border-radius: 8px;
}

/* About Section Design */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .a-body {
  display: flex;
  align-items: center;
}

.about .a-body .col-1 {
  width: 70%;
  padding-right: 10%;
}

.col-1 .title {
  margin-top: 20px;
}

.col-1 ul li {
  margin-top: 20px;
  list-style-position: inside;
}

.a-body .col-2 img {
  width: 100%;
}

/* Destination Section Design */
.destination {
  text-align: center;
}

.destination .col-4 {
  margin-top: 5%;
}

.destination .col-4 .img {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.destination .col-4 .img .image {
  position: relative;
  width: 100%;
}

.destination .col-4 .img .image img {
  width: 100%;
  height: 300px;
}

.destination .col-4 .img .image .itext {
  position: absolute;
  color: #fff;
  text-align: center;
  left: 50%;
  top: 50%;
  font-size: 1.5em;
  transform: translate(-50%, -50%);
}

/* Choose Section Design */
.choose .choose-text {
  text-align: center;
}

.choose .choose-body {
  margin-top: 5%;
}

.choose-body .card {
  padding: 24px;
  border-radius: 16px;
  background-color: #29cdf61e;
}

.choose-body .card img {
  width: 64px;
}

.choose-body .card h3 {
  font-size: 24px;
  margin-top: 24px;
}

.choose-body .twin-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.choose-body .twin-2 {
  margin-top: 24px;
  padding: 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Simple Section Design */
.simple {
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple .s-body {
  display: flex;
  align-items: center;
}

.simple .s-body .col-1 {
  padding-right: 10%;
}

.simple .s-body ul li {
  margin-top: 20px;
  list-style-position: inside;
  font-weight: bold;
}

.s-body .col-2 video{
  width: 100%;
}

/* Newsletter Section Design */
.newsletter {
  margin: 7% 9%;
}

.newsletter .news-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-body .col-1 {
  padding: 24px;
  border: 1px solid #FF5400;
  border-radius: 8px;
}

.news-body .col-1 h3 {
  font-size: 24px;
}

.news-body .col-1 .par {
  width: 70%;
}

.news-body .col-1 input {
  width: 100%;
  margin-top: 16px;
  padding: 15px 25px;
  color: #13131807;
  background-color: #13131816;
  border-radius: 8px;
  border: 0;
}

.news-body .col-1 button {
  width: 100%;
}

.news-body .col-2 {
  position: relative;
}

.news-body .col-2 img {
  width: 100%;
}

.news-body .col-2 .text {
  position: absolute;
  padding: 3% 5%;
  color: #fff;
  text-align: center;
  background-color: #FF5400;
  border-radius: 8px;
  left: 60%;
  top: 55%;
  font-size: 1.5em;
  transform: rotate(-45deg);
}

/* Footer Section Design */
.footer {
  padding: 80px 0px;
  background-color: #1313181b;
  text-align: center;
}

.f-body .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.f-body .footer-icon {
  font-size: 24px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.f-body hr {
  margin: 0 9%;
}

/* Small Veiw */
@media screen and (max-width: 576px) {
  .navber .responsive-icon {
  display: block;
}
  .navber .nav-items {
    display: none;
  }

  .navber .logo img {
  width: 20%;
}

  .navber .nav-items .nav-list .nav-link {
  font-size: 16px;
  margin-left: 10px;
  position: relative;
}

.home {
    margin-top: 0;
  }
  
.home .h-body .h-title {
  font-size: 40px;
}

.home .h-body .h-par {
  font-size: 16px;
  padding: 0 10%;
}

.home .h-body .h-add {
  margin: 5% 10%;
  display: block;
}

.home .h-body .h-add .h-place,
.home .h-body .h-add .h-place01 {
  width: 100%;
  margin-top: 2%;
  padding: 0 5%;
}

.about .a-body {
  display: block;
}
  .about .a-body .col-1 {
  width: 100%;
  padding-right: 0;
}
  .a-body .col-2 img {
  margin-top: 24px;
}

.destination .col-4 .img {
  margin-top: 0;
  display: block;
}

.destination .col-4 .img img {
  margin-top: 24px;
}

.choose-body .twin-1 {
  display: block;
}

  .choose-body .twin-1> .card {
  margin-top: 24px;
}

  .choose-body .twin-2 {
  padding: 0 0;
}

.simple .s-body {
  display: block;
}
  .simple .s-body .col-1 {
  padding-right: 0;
}
  .s-body .col-2 video {
  margin-top: 24px;
}

.newsletter .news-body {
  display: block;
}
.news-body .col-2 img {
  margin-top: 24px;
}
.f-body .par{
  padding: 0 10%;
}
}

/*  Medium Veiw */
@media screen and (max-width: 768px) {
  .navber .logo img {
  width: 20%;
}

  .navber .logo .logo-title {
    font-size: 1.5em;
  }

  .navber .nav-items .nav-list .nav-link {
  font-size: 16px;
  margin-left: 10px;
  position: relative;
}

.home .h-body .h-title {
  font-size: 40px;
}

.home .h-body .h-par {
  font-size: 16px;
  padding: 0 10%;
}

.home .h-body .h-add {
  margin: 5% 10%;
  display: block;
}

.home .h-body .h-add .h-place,
.home .h-body .h-add .h-place01 {
  width: 100%;
  margin-top: 2%;
  padding: 0 5%;
}

.about .a-body {
  display: block;
}
  .about .a-body .col-1 {
  width: 100%;
  padding-right: 0;
}
  .a-body .col-2 img {
  margin-top: 24px;
}

.destination .col-4 .img {
  margin-top: 0;
  display: block;
}

.destination .col-4 .img img {
  margin-top: 24px;
}

.choose-body .twin-1 {
  display: block;
}

  .choose-body .twin-1> .card {
  margin-top: 24px;
}

  .choose-body .twin-2 {
  padding: 0 0;
}

.simple .s-body {
  display: block;
}
  .simple .s-body .col-1 {
  padding-right: 0;
}
  .s-body .col-2 video {
  margin-top: 24px;
}

.newsletter .news-body {
  display: block;
}
.news-body .col-2 img {
  margin-top: 24px;
}
.f-body .par{
  padding: 0 10%;
}
}